@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Microsoft Yahei', 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $background
  color: $text-web-color
  overflow: hidden
  height: 100%
::-webkit-input-placeholder 
  color $placeholder-color-dark

textarea
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Microsoft Yahei', 'Droid Sans Fallback'
  font-size: $font-size-medium

.flex-box
  display flex

.t-c
  text-align: center

.t-l
  text-align: left

.t-r
  text-align: right

.icons
  font-size: 25px