//app颜色主题
$background = #f6f6f6
$background-light = #fff
$background-mask = rgba(37, 38, 45, .4)
$theme-color = #ff5533
$theme-color-dark = #ff6446

//字体颜色类型
$text-input-color = #6a6a6a
$text-label-color = #454545
$text-intro-color = #737373
$text-notic-color = #8a8a8a
$text-web-color = #606060

// 边框颜色
$border-color = #dfdfdf

// placeholder颜色
$placeholder-color = #969696
$placeholder-color-dark = #c5c5c5

//字体大小
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

// input
$input-height = 50px